@import url('../../index.css');


.divHomeContent {
    margin-top: 75px;
}
.screenContent {
    display: flex;

}
.divTypeContent{
    display: flex;
    width: 20%;
    margin-left: 30px;

}
.divRenderPoke{
    width: 75%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
}