@import url('../../index.css');

body{
    background-image: linear-gradient(var(--background-color) 60%, var(--primary-color) 100%);
}
.divHomeContent {
    margin-top: 75px;
}
.screenContent {
    display: flex;
}
.divTypeContent{
    display: flex;
}
.divRenderPoke{
    width: 80%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
}