.divCardContainer{
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    height: 50vh;
    margin: 20px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border: solid 1px black;
}
.divCardContainer img{
    width: 100px;
}

