@import url('../../index.css');
.logo {
  width: 50%;
}

.searchBox {
  position: fixed;
  top: -3.5%;
  right: 33%;
  transform: translate(-10%, 50%);
  background: linear-gradient(
    to bottom,
    var(--primary-color) 0%,
    var(--primary-color) 45%,
    #2f3640 45%,
    #2f3640 55%,
    #ffffff 55%,
    #ffffff 100%
  );
  height: 60px;
  border-radius: 60px;
  padding: 10px 10px;
  border: 1px solid #2f3640;
  z-index: 4;
}
.searchBox.active > .logo {
  background-color: white;
}
.searchBox.active > .searchInput {
  width: 300px;
  padding: 0 6px;
}

.searchBox.active > .searchButton {
    color: white;
  background: #d8dce2;
}

.searchButton {
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border: none;
  background: rgb(0, 0, 0);
  outline: none;
  float: left;
  padding-bottom: 0;
  color: rgb(255, 255, 255);
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  border-radius: 20px;
  font-family: "PixelFont";
}
@media screen and (max-width: 1024px) {
    .searchBox {
        right: 40% ;
      }
  
}
@media screen and (max-width: 768px) {
  .searchBox {
    right: 50%;
  }
  
  .searchBox.active > .searchInput {
    width: 205px;
    padding: 0 6px;
  }
}

@media screen and (max-width: 575px) {
  .searchBox {
    top: 6%;
    right: 15%;
  }
  .searchInput {
    width: 250px;
    padding: 0 6px;
    float: none;
    font-size: 10px;
  }
  .searchBox.active > .searchInput {
    width: 250px;
    padding: 0 6px;
  }
  
}


@media screen and (max-width: 425px) {
  .searchBox {
    top: 6%;
    right: 15%;
  }
  .searchInput {
    width: 190px;
    padding: 0 6px;
    float: none;
  }
  .searchBox.active > .searchInput {
    width: 190px;
    padding: 0 6px;
  }
}

@media screen and (max-width: 320px) {
    .searchBox {
        top: 6%;
        right: 15%;
      }
  .searchInput {
    width: 140px;
    padding: 0 6px;
    float: none;
  }
  .searchBox.active > .searchInput {
    width: 140px;
    padding: 0 6px;
  }
}
