@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}



.landingContent {
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/AnimeGrassfield.jpeg');
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  flex-direction: column;
  position: relative;
  
}

.logo {
  width: 35vw ;
  margin-bottom: 40px;
  animation: floatAnimation 3s ease-in-out infinite;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 50vw; 
    margin-bottom: 200px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .logo {
    width: 40vw; 
    margin-bottom: 100px;
  }
}

